<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--define alias-->
    <typeAliases>
        <typeAlias alias="role" type="com.sit.mybatis.po.Role"></typeAlias>
    </typeAliases>
    <!--define database info, default configuration is in dev env-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value=""/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!--define mapper-->
    <mappers>
        <mapper resource="com/sit/mybatis/mapper/RoleMapper.xml"/>
    </mappers>
</configuration>